@font-face {
    font-family: "BrutalType-Bold";
    src: url("font/BrutalType-Bold.eot");
    src: url("font/BrutalType-Bold.eot?#iefix")format("embedded-opentype"),
	    url("font/BrutalType-Bold.woff")format("woff"),
	    url("font/BrutalType-Bold.woff2")format("woff2"),
	    url("font/BrutalType-Bold.ttf")format("truetype"),
	    url("font/BrutalType-Bold.svg#BrutalType-Bold")format("svg");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

@font-face {
    font-family: "BrutalType-Regular";
    src: 
	    url("font/BrutalType.woff")format("woff"),
	    url("font/BrutalType.woff2")format("woff2");
	font-weight:normal;
	font-style:normal;
	font-display:swap;
}

html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
    color: #ffffff;
    text-decoration: underline;
    text-decoration-color: gray;
}

body {
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'BrutalType-Regular', cursive;
    color: #ffffff;
    background-color: #000000;
    font-size: 1.4rem;
    box-sizing: border-box;
}

.bold {
    font-family: 'BrutalType-Bold', cursive;
}

.container {
    display: flex;
    width: 80vw;
    margin: 0 auto;
    flex-wrap: wrap;
}

.hero {
    height: 100vh;
}

.header {
    font-family: 'BrutalType-Bold', cursive;
    margin-top: 10vh;

    h1 {
        font-size: 2rem;
    }

    h2 {
        font-size: 3rem;
        margin-top: -20px;
    }

}

h3 {
    font-size: 2rem;
    font-family: 'BrutalType-Bold', cursive;
}

.hero-intro {
    position: absolute;
    margin-top: 40vh;
}

.hero-image {
    position: absolute;
    top: 40vh;
    right: 25vh;
}

.mt-5 {
    margin-top: 50px;
}

.mb-5 {
    margin-bottom: 50px;
}

.mb-250 {
    margin-bottom: 250px;
}

me-1 {
    margin-right: 10px;
}

.me-2 {
    margin-right: 20px;
}

.w-30 {
    width: 30%;
}

.w-50vh {
    width: 50vw;
}

.w-75 {
    width: 75%;
}

.w-100 {
    width: 100%;
}

.link-stick {
    position: relative;
    top: -7px;
    width: 20px;
    transform: rotate(-45deg);
}

#work {
    gap: 10px;
    margin-bottom: 100px;
}

.work-header {
    width: 100%;
}


.ping-stick {
    position: absolute;
    right: -40px;
    transform: rotate(-160deg);
    opacity: 0;  
}

.pong-stick {
    position: absolute;
    left: -140px;
    margin-top: -20px;
    transform: rotate(45deg);
    opacity: 0;  

    img {
        width: 75%;
    }
}

#work-link-svet-prace {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
}

#work-link-ahoy {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
}

#work-link-ideabooks {
    display: none;
    position: absolute;
    margin-top: -50px;
    margin-left: 20px;
}

@media only screen and (max-width: 600px) {

    .container {
        width: 100vw;
        padding: 25px;
    }

    .header {
        font-family: 'BrutalType-Bold', cursive;
        margin-top: 30vh;

        h1 {
            font-size: 1.5rem;
        }

        h2 {
            font-size: 2rem;
            margin-top: -20px;
        }
    }

    .hero-intro {
        position: absolute;
        margin-top: 50vh;
    }

    .hero-image {
        position: absolute;
        top: 10vh;
        left: 40vw;

        img {
            width: 100px;
        }
    }
}
